<layout name="layout"/>
<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front">基本信息</span>
            <span class="tab-back">商品描述</span>
            <span class="tab-back">会员价格</span>
            <span class="tab-back">商品属性</span>
            <span class="tab-back">商品相册</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__SELF__" method="post">
            <!-- 隐藏域,保存用于要修改提交时指定修改的这条数据id -->
            <input type="hidden" name="id" value="<{$data['id']}>">
            <!-- 基本信息 -->
            <table width="90%" class="btn-table"  align="center">
                <tr>
                    <td class="label">主分类：</td>
                    <td>
                        <select name="cate_id" id="">
                            <option value="">请选择</option>
                            <foreach name="cateDate" item="val">
                                <option <?php if($val['id'] == $data['cate_id']) echo 'selected';?> value="<{$val['id']}>"><?php echo str_repeat('-',3*$val['level']).$val['cate_name'];?></option>
                            </foreach>
                        </select>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">扩展分类：<input type="button" onclick="$('#cate_list').append($('#cate_list').find('select').eq(0).clone())" value="添加一个"></input></td>
                    <td id="cate_list">
                        <?php if($extCateDate):?>
                            <?php foreach($extCateDate as $v):?>
                                    <select name="ext_cate_id[]" id="">
                                        <option value="">请选择</option>
                                        <?php foreach($cateDate as $val):?>
                                        <option <?php if($v['cate_id'] == $val['id']) echo 'selected';?> value="<{$val['id']}>"><?php echo  str_repeat('-',3*$val['level']).$val['cate_name'];?></option>
                                        <?php endforeach;?>
                                    </select>
                            <?php endforeach;?>
                        <?php else:?>
                            <select name="ext_cate_id[]" id="">
                                <option value="">请选择</option>
                                <?php foreach($cateDate as $val):?>
                                <option value="<{$val['id']}>"><?php echo  str_repeat('-',3*$val['level']).$val['cate_name'];?></option>
                                <?php endforeach;?>
                            </select>
                        <?php endif;?>
                    </td>
                </tr>
                <tr>
                    <td class="label">所有品牌：</td>
                    <td>
                        <?php buildSelect('brand','brand_id','id','brand_name',$data['brand_id']);?>
                        <!--<select name="brand_id" id="">-->
                            <!--<option value="">请选择</option>-->
                            <!--<foreach name="brandDate" item="val">-->
                                <!--<option value="<{$val['id']}>" <?php if($val['id']==$data['brand_id']) echo 'selected';?>><{$val['brand_name']}></option>-->
                            <!--</foreach>-->
                        <!--</select>-->
                    </td>
                </tr>
                <tr>
                    <td class="label">商品名称：</td>
                    <td><input type="text" name="goods_name" value="<?php echo $data['goods_name']?>" size="30" />
                    <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">LOGO：</td>

                    <td>
                        <?php showImage($data['sm_logo']);?><br>
                        <input type="file" name="logo"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">本店售价：</td>
                    <td>
                        <input type="text" name="shop_price" value="<?php echo $data['shop_price']?>" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" name="is_on_sale" value="是" <?php if($data['is_on_sale']=='是') echo 'checked'?>/> 是
                        <input type="radio" name="is_on_sale" value="否" <?php if($data['is_on_sale']=='否') echo 'checked'?>/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">市场售价：</td>
                    <td>
                        <input type="text" name="mark_price" value="<?php echo $data['mark_price']?>" size="20" />
                    </td>
                </tr>
                <tr>
                    <td class="label">促销价格：</td>
                    <td>
                        价格：￥<input type="text" name="promote_price" value="<?php echo $data['promote_price'];?>"/>元
                        开始时间：<input type="text" id="promote_start_date" name="promote_start_date" value="<?php echo $data['promote_start_date']?>"/>
                        结束时间：<input type="text" id="promote_end_date" name="promote_end_date" value="<?php echo $data['promote_end_date']?>"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否新品：</td>
                    <td>
                        <input type="radio" name="is_new" value="是" <?php if($data['is_new'] == '是') echo 'checked';?>/> 是
                        <input type="radio" name="is_new" value="否" <?php if($data['is_new'] == '否') echo 'checked';?>/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">是否热卖：</td>
                    <td>
                        <input type="radio" name="is_hot" value="是" <?php if($data['is_hot'] == '是') echo 'checked';?>/> 是
                        <input type="radio" name="is_hot" value="否" <?php if($data['is_hot'] == '否') echo 'checked';?>/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">是否精品：</td>
                    <td>
                        <input type="radio" name="is_best" value="是" <?php if($data['is_best'] == '是') echo 'checked';?>/> 是
                        <input type="radio" name="is_best" value="否" <?php if($data['is_best'] == '否') echo 'checked';?>/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">排序：</td>
                    <td>
                        <input type="text" name="sort_number" value="<?php echo $data['sort_number']?>"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否推荐到楼层：</td>
                    <td>
                        <input type="radio" name="is_floor" value="是" <?php if($data['is_floor'] == '是') echo 'checked';?>/> 是
                        <input type="radio" name="is_floor" value="否" <?php if($data['is_floor'] == '否') echo 'checked';?>/> 否
                    </td>
                </tr>
            </table>
            <!-- 商品描述 -->
            <table style="display: none" width="100%" class="btn-table" align="center">
                <tr>
                    <td>
                        <textarea id="goods_desc" name="goods_desc"> <?php echo $data['goods_desc'];?> </textarea>
                    </td>
                </tr>
            </table>
            <!-- 会员价格 -->
            <table style="display: none" width="90%" class="btn-table" align="center">
                <tr>
                    <td>
                        <foreach name="memberLevelDate" item="val" key="k">
                            <strong><{$val['level_name']}>：</strong><input type="text" name="member_price[<{$val['id']}>]" value="<{$memberPiceDate[$k]['price']}>" size="20" />元<br>
                        </foreach>
                    </td>
                </tr>
            </table>
            <!-- 商品属性 -->
            <table style="display: none" width="90%" class="btn-table" align="center">
                <tr>
                    <td>
                        <strong>商品类型：</strong><?php buildSelect('type','type_id','id','type_name',$data['type_id']) ;?>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul id="attr_list">
                            <?php
                                $attrId = array();//所有出现过的属性id
                            foreach($goodsAttrDate as $v):
                                //判断这个属性id是第一次出现就是+,否则就是-
                                if(in_array($v['attr_id'],$attrId)){
                                    $opt = '-';
                                }else{
                                    $opt = '+';
                                    $attrId[] = $v['attr_id'];
                                }
                            ?>
                                <li>
                                    <!-- 该隐藏域传递该商品每个属性(如:红色、黄色,16g、32g等等)的id -->
                                    <input type="hidden" name="goods_attr_id[]" value="<{$v['goods_attr_id']}>">
                                    <?php if($v['attr_type'] == '可选'):?>
                                        <a onclick="addNewAttr(this)" href="#">[<?php echo $opt;?>]</a>
                                    <?php endif;?>
                                    <{$v['attr_name']}>：
                                    <?php if($v['attr_option_values']):
                                        $attr = explode(',',$v['attr_option_values']);
                                    ?>

                                        <select name="attr_value[<{$v['id']}>][]" >
                                            <option value="">请选择</option>
                                            <?php foreach($attr as $val):?>
                                                <option <?php if($val == $v['attr_values']) echo selected;?> value="<{$val}>"><{$val}></option>
                                            <?php endforeach;?>
                                        </select>
                                    <?php else:?>
                                        <input type="text" name="attr_value[<{$v['attr_id']}>][]" value="<{$v['attr_values']}>">
                                    <?php endif;?>
                                </li>
                            <?php endforeach;?>
                        </ul>
                    </td>
                </tr>
            </table>
            <!-- 商品相册 -->
            <table style="display: none" width="90%" class="btn-table" align="center">
                <tr>
                    <td>
                        <strong>选择图片：</strong>
                        <input type="file" name="goods_pic[]" multiple="multiple"/><br>
                        <ul id="old_goods_pic" style="list-style: none;">
                            <?php foreach($goodsPicDate as $v):?>
                                <li style="float: left;width: 150px;height: 150px;position: relative">
                                    <span class="picbtn" pic_id="<{$v['id']}>" style="position: absolute;right:0;top: -8px;font-size: 20px;cursor: pointer;color: red;background: rgba(255,255,255,.5);">✕</span>
                                        <?php showImage($v['sm_pic']);?>
                                </li>
                            <?php endforeach;?>
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>

<!--导入在线编辑器-->
<link href="__PUBLIC__/utf8php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/utf8php/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/utf8php/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/utf8php/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/utf8php/lang/zh-cn/zh-cn.js"></script>
<script>
    UM.getEditor('goods_desc',{
        initialFrameWidth:'100%',
        initialFrameHeight:350,
    });
</script>


<!-- 输入框日期时间处理 -->
<link href="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/datepicker-zh_cn.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.css" />
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<script>
    $.timepicker.setDefaults($.timepicker.regional['zh-CN']);//设置中文
    $("#promote_start_date").datetimepicker();
    $("#promote_end_date").datetimepicker();
</script>



<!-- 点击切换 -->
<script>
    $(function(){
        $('#tabbar-div p span').click(function () {
            $('.tab-front').removeClass('tab-front').addClass('tab-back');
            $(this).addClass('tab-front').removeClass('tab-back');

            var index = $(this).index();
            $('.btn-table').eq(index).show().siblings('.btn-table').hide();
        });
    });

    //ajax删除商品相册图片
    $('span.picbtn').click(function () {
        var val = $(this).attr('pic_id');
        var This = this.parentNode;
        //console.log(This);
        $.ajax({
            type:'GET',
            url:"<?php echo U('getDelPic','',false);?>/pic_id/"+val,
            success:function (data) {
                This.remove();
            }
        });
    });

    //ajax实时请求商品属性
    $(function () {
        $('select[name=type_id]').change(function () {
            var type_id = $(this).val();
            //选择一个类型就执行ajax
            if(type_id){
                $.ajax({
                    type:'GET',
                    url:"<?php echo U('ajaxGetAttr','',false);?>/type_id/"+type_id,
                    dataType:'json',
                    success:function (data) {
                        var li = '';
                        $(data).each(function (key,val) {
                            li += '<li>';
                            //拼接+号
                            if (val['attr_type'] == '可选'){
                                li += '<a onclick="addNewAttr(this);" href="#">[+]</a>';
                            }
                            //属性名称
                            li += val['attr_name'] + '：';
                            //如果属性有可选值就做下拉选框,否则做文本框
                            if(val['attr_option_values']){
                                /****** 生成下拉选框 *****/
                                var _attrArr = val['attr_option_values'].split(',');
                                li += '<select name="attr_value['+val['id']+'][]"><option value="">请选择</option>';

                                for (var i = 0; i < _attrArr.length; i++){
                                    li += '<option  value="'+_attrArr[i]+'">'+_attrArr[i]+'</option>';
                                }
                                li += '</select>';
                            }else{
                                /****** 生成文本框 *****/
                                li += '<input type="text" name="attr_value['+val["id"]+'][]" value=""/>';
                            }
                            li += '</li>';
                        });
                        $('#attr_list').html(li);
                    }
                });
            }
        });
    });
    // 点击时下拉选框的添加与删除
    function addNewAttr(dom) {
        var li = $(dom).parent();

        if(li.find('a').text() == '[+]'){
            var newLi = li.clone();
            //清空克隆的隐藏域的商品属性id
            newLi.find('input[name="goods_attr_id[]"]').val('');
            //去掉选中状态
            newLi.find('option:selected').removeAttr('selected');
            newLi.find('a').text('[-]');
            li.after(newLi);
        }else{
            //获取隐藏域的商品属性id，
            var goods_attr_id = li.find('input[name="goods_attr_id[]"]').val();
            if(!goods_attr_id){
                li.remove();
            }else{
                if(confirm('你确定要删除吗！如果删除这个数据了,那么相关的库存量数据也会被删除')){
                    var a = "<?php echo U('ajaxDelAttr?goods_id='.$data['id'],'',false)?>/goods_attr_id/"+goods_attr_id;
                    console.log(a);

                    $.ajax({
                        type:'GET',
                        url:"<?php echo U('ajaxDelAttr?goods_id='.$data['id'],'',false)?>/goods_attr_id/"+goods_attr_id,
                        success:function (data) {
                            li.remove();
                        }
                    })
                }
            }
        }

    }

</script>